<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<tab id="extension_backend" sortOrder="100" translate="label">
			<label>Extensions</label>
		</tab>
		<section id="sales_rule_enhanced" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="1"
                 translate="label">
			<label>Sales Rule</label>
			<tab>extension_backend</tab>
			<resource>Extensions_SalesRuleEnhance::config</resource>
			<group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1"
                   showInStore="0">
				<field id="enable_most_saving" translate="label comment" type="select" sortOrder="1" showInDefault="1"
                       showInWebsite="1" showInStore="1">
					<label>Sort promotion by most saving</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
			</group>
		</section>
	</system>
</config>
